<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }} - {{ site.tagline }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>

  <section class="hero is-medium has-background-link">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://getgeodata.com">
            <h5 class="title is-5 has-text-white">Back to GetGeoData</h5>
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
      </div>
    </nav>
  </div>

    <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-two-thirds">
          <h1 class="title has-text-white">Geoscience Schema Repository</h1>
          <input class="input is-rounded is-medium" type="text" id="searchbar" onkeyup="search_schemas()" placeholder="Search for schemas">
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>

  </section>

  <section class="section">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-two-thirds">
      {% for schemaName, schema in schemas.items() %}


      <div class="container mt-5 schemabox">
      <div class="card">
        <header class="card-header has-background-grey-dark">
          <p class="card-header-title">
            <a class="has-text-white" href="{{ schemaName }}.html">{{ schemaName }}</a>
          </p>
        </header>
        <div class="card-content">
          <div class="content has-text-left has-text-dark-grey">
            {{ schema.description }}
            <br>
            <br>
            <div class="level mb-0">
                {% for datatype in schema.datatype %}
                <p class="level-item mb-0">
                  {{ datatype }}
                </p>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
      </div>

      {% endfor %}

      <div class="container mt-5 schemabox" style="display:none;">
        No schemas found
      </div>

        </div>
        <div class="column"></div>
      </div>
    </div>
  </section>
  </body>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>GetGeoData</strong> by <a href="https://nextgengeophysics.com">NextGen Geophysics</a>.
    </p>
  </div>
</footer>

<script type="text/javascript">
  function search_schemas() {
      let input = document.getElementById('searchbar').value
      input=input.toLowerCase();
      let x = document.getElementsByClassName('schemabox');
      let activeSchemas = 0; // Number of schemas the user sees in the current search

      for (i = 0; i < x.length; i++) {

          // The last is the 'No schemas found' div - Show it if the search contains no results
          if (i == (x.length - 1)) {
              // If all schemas are hidden show the user a text to indicate that
              if (activeSchemas <= 0) {
                  x[i].style.display="inherit";
              } else {
                  x[i].style.display="none";
              }
          } else if (!x[i].innerHTML.toLowerCase().includes(input)) {
              x[i].style.display="none";
          }
          else {
              x[i].style.display="inherit";
              activeSchemas += 1;
          }
      }
  }    
</script>

</html>
