<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }} - {{ site.tagline }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>

  <section class="hero is-medium has-background-grey-light">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="title has-text-white">GetGeoData - Schema Repository</h1>
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
      </div>
    </nav>
  </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">
      <nav class="level">
        <div class="level-left">
          <a href="/">Back</a>
        </div>
        <div class="level-right">
          <div class="level-item">
            <p class="level-item"><a class="button is-success" href="{{ schema_name}}.json">Get JSON</a></p>
            <p class="level-item"><a class="button is-success" href="https://gitlab.com/GeoDataHub/schemas.geodatahub.dk/-/tree/master/schemas/{{ schema_path }}.json">Edit</a></p>
          </div>
        </div>
      </nav>
      <div class="columns">
        <div class="column"></div>
        <div class="column is-four-fifths">

          <article class="message">
            <div class="message-header">
              <p>{{ schema_name }}</p>
            </div>
            <div class="message-body is-align-content-left">
              {{ schema.description }}
            </div>
          </article>

          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th></th>
                <th>Parameter</th>
                <th>Type</th>
                <th>Description</th>
                <th>Example</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in schema.properties | dictsort %}
              {% if key != 'required' %}
              <tr>
                <th>
                {% if key in schema.properties.required%}
                <span class="tag is-danger">Required</span>
                {% endif %}
                {% if key in schema.uniqueProperties %}
                <span class="tag is-warning">Unique</span>
                {% endif %}
                </th>
                <th>{{ key }}</th>
                <td>{{ value.type }}</td>
                <td>{{ value.description }}</td>
                <td>{{ value.example }}</td>
              </tr>
              {% endif %}

              {% endfor %}
            </tbody>
          </table>

          <table class="table is-fullwidth">
            <tbody>
              <tr>
                <td><span class="tag is-danger">Required</span></td>
                <td class="has-text-left">The parameter is required when adding a dataset with this schema. <a href="https://docs.getgeodata.com/Getting-started/schemas">Learn more</a>.</td>
              </tr>
              <tr>
                <td><span class="tag is-warning">Unique</span></td>
                <td class="has-text-left">Two datasets cannot share this parameter. Read the docs on <a href="https://docs.getgeodata.com/Getting-started/schemas/#unique-constraints">unique contraints</a> to learn more</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </section>
  </body>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>GetGeoData</strong> by <a href="https://nextgengeophysics.com">NextGen Geophysics</a>.
    </p>
  </div>
</footer>

</html>
